hostname {{ node_vars.hostname }}
!
interface loopback
 ip address {{ node_vars.loopback }}
!
{% for intf in node_vars.interfaces %}
interface {{ intf.name }}
 ip address {{ intf.ip }}
{% if intf.ospf %}
 ip ospf area 0
{% endif %}
exit
!
{% endfor %}
router ospf
 router-id {{ node_vars.loopback.split('/')[0] }}
{% for intf in node_vars.interfaces if intf.ospf %}
 network {{ intf.ip }} area 0
{% endfor %}
exit